#main_bkg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

.heroes-group {
  width: 75vw;
  margin: 0 auto;
  text-align: center;
}

#hero {
  cursor: pointer;
  height: 100px;
}


.animated {
  animation: shiver ease-in-out .3s;
}

@keyframes shiver {
  0% {
    /* transform: translateX(-10px); */
    z-index: 10;
  }
  25% {
    transform: translateX(20px);
    z-index: 10;
  }
  50% {
    transform: translateX(-20px);
    z-index: 10;
  }
  75% {
    transform: translateX(20px);
    z-index: 10;
  }
  100% {
    transform: translateX(-20px);
    z-index: 10;
  }
}

